
<html>
  <!-- <head>
    <meta charset="utf-8">
      <title>Dogs of Clintonville</title>
      <link rel="stylesheet" href="assets/stylesheets/application.scss">
        <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
  </head>


<body>
  <ul class="navbar">
      <li> <a href="./humans/index.html.erb" style="width:20%">Home</a> </li>
      <li> <a href="The Humans" style="width:20%">The Humans</a></li>
      <li> <a href="./" style="width:20%">The Dogs</a></li>
      <li> <a href="The Cats" style="width:20%">The Cats</a></li>
      <div class="clearfix" ></div>
      <div class="clearfix" ></div>
    </ul> -->

    <h1>The Dogs of Clintonville</h1>


  <div class="left_side">



      <% @dogs.each do |dog| %>

      <%= image_tag "dog.png", alt: "Default Dog Image", height: '100px' %>
          <p>Name: <%= dog.name %></p>
          <p>Breed: <%= dog.breed %></p>
          <p>Weight: <%= dog.weight %> lbs </p>
          <p>Age: <%= dog.age %> years old</p>



        <% end %>


    </div>

<!-- </body> -->
