
    <h1>Clintonville Humans and Their Pets</h1>


    



      <% @humans.each do |human| %>
    <div class="row">
      <div class="col big-box">
        <%= image_tag "human.jpg", alt: "Default Human Image", height: '150px' %>
            <h3>Human: <%= human.full_name %></h3>
            <h3>Address: <%= human.address %></h3>
            <h3>Age: <%= human.age %> years old </h3>


      </div>

      <div class="col">
        <div class="row">
          <div class="col mini-box">
            <% human.dogs.each do |dog| %>
            <%= image_tag "dog.png", alt: "Default Dog Image", height: '50px' %>
            <p>Name: <%= dog.name %></p>
            <p>Breed: <%= dog.breed %></p>
            <p>Weight: <%= dog.weight %> lbs </p>
            <p>Age: <%= dog.age %> years old</p>
            <% end %>
          </div>

          <div class="col mini-box">
            <% human.cats.each do |cat|  %>
            <%= image_tag "cat_lick_paw.png", height: '50px' %>
            <p>Name:  <%= cat.name %></p>
            <p>Breed: <%= cat.breed %> </p>
            <p>Weight: <%= cat.weight %> lbs </p>
            <p>Age: <%= cat.age %> years old</p>
            <% end %>
          </div>
        </div>


      </div>



    </div>

    <% end %>
