
<h1>A New human</h1>

<%= form_for @human do |form| %>
<br>
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
<br>
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
<br>
  <%= form.label :address_numbers %>
  <%= form.text_field :address_numbers %>
<br>
  <%= form.label :street_name %>
  <%= form.text_field :street_name %>
<br>
  <%= form.label :birth_year %>
  <%= form.text_field :birth_year %>



<%= form.submit "Hello!", class: 'btn' %>

<% end %>
